html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: sans-serif;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #000;
	color: white;
	margin: 0;
}

.content {
	min-height: 200vh;
	align-items: center;
	position: absolute;
}

.canvas-wrapper {
	position: fixed;
	top: 0;
}

canvas {
	min-width: 100%;
}

.text-container {
	margin-top: 200vh;
	min-height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: top;
	background-color: black;
	width: 100vw;
}
