html{
    scroll-behavior: smooth;
}

body{
    
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: black;
    

}
header{
    background-color: transparent;
    
   
}
#page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    
    
    
    

}
#title{
    position: absolute;
    color: rgb(220, 127, 51);
    font-family: Neon;
    font-size: min(12vw, 15rem);

    z-index: 0;
    white-space: nowrap;
    top: 20%;
    
    
    

}
.center{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    top: 50%;

}
#background{
   
    position: absolute;
    width: 80vw;
    height: 80vw;
    opacity: 10%;
    animation-duration: 20s;
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;  
}
#more-info{
    position: absolute;
    top: 85%;

}
#buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    top:97%;
    border: none;   
}
a{
    height: 5vw;
    width: 20vw;
    scale: 70%;
}
.button-text{
    color: red;
    white-space: nowrap;
    
}





@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.text{
    color: white;
    font-family: Neon;
    
    z-index: 0;
}


body {
    height: 100vh;
    margin: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 200, 207);
}

@font-face {
    font-family: clock;
    src: url(alarm\ clock.ttf);
}

@font-face {
    font-family: neon;
    src: url(TextMeOne-Regular.ttf);
}

h2 {
    font-family: neon, sans-serif;
}

#clock {
   /* font-size: clamp(40px, 6vw, 100px); */
   font-size: min(10vw, 10rem);
    
    font-family: clock;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
    --shadow-color: rgba(255, 75, 75, 0.75);
    text-shadow: 0 0 1px #fff, 0 0 20px rgb(255, 97, 97),
        0 0 60px rgb(254, 83, 83), 0 0 80px var(--shadow-color),
        0 0 100px var(--shadow-color);
}

#clock::before {
    content: "ÆÆ:ÆÆ:ÆÆ:ÆÆ:ÆÆÆ";
    color: gray;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

p {
    
    font-family: Orbitron;
    font-size: 1.5vw;
    white-space: nowrap;
    /*transform: translateX(-3lvw);*/
}
.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100%;
    
    
}
.text-box{
   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 49, 56);
    font-size: 2vw;
    font-family: Orbitron;
    width: 30vw;
    height: 10vw;
    text-align: center;
    margin: 3vw;
    
}
@media (max-width: 1500px){
    p{
        font-size: 4vw;
        white-space: pre-wrap;
        text-align: center;
    }
    #title{
        font-size: 15vw;
        white-space: pre-wrap;
        text-align: center;
        top: 5%;
    }
    #buttons{
        gap: 4vw;
        top: 100%;
        
       
    }
    a{
        scale: 110%;
    }
    .button-text{
        font-size: 2vw;
    }
}